<%= provide(:title, "Contact List") %>
<div class="col-md-9 col-md-offset-2 main fromHeader">
	<div>
		<button class="btn btn-default" type="submit"><%= link_to( "Add a New Contact",new_contact_path)%></button>
	</div>
	<!-- Check if contact's was empty -->
	<% if !@contacts.empty? %>
		<h2>List of all Contacts</h2>
		<hr>
		<div>
			<%= will_paginate @contacts, renderer: BootstrapPagination::Rails%>
			<% @contacts.each do |contact| %>
				<div class="row">
					<div class="col-xs-4">
						<div><b><u>Basic Information:</u></b></div>
						<div><span>First Name: </span><span><%= contact.first_name%></span></div>
						<div><span>Last Name: </span><span><%= contact.last_name %></span></div>
						<div><span>Address 1: </span><span><%= contact.address1%></span></div>
						<% if !contact.address2.blank? %>
							<div><span>Address 2: </span><span><%= contact.address2%></span></div>
						<% end %>
						<div><span>City: </span><span><%= contact.city%></span></div>
						<div><span>Postal Code: </span><span><%= contact.postal_code%></span></div>
						<div><span>Region: </span><span><%= contact.typ_region.name%></span></div>
						<div><span>Country: </span><span><%= contact.typ_country.country%></span></div>
					</div>
					<div class="col-xs-4">
						<div><b><u>Telephone Numbers:</u></b></div>
						<% contact.telephone_numbers.each do |t|%>
							<div><span><%= t.telephone_type%>: </span><span><%= t.telephone_number%></span></div>
						<% end %>
					</div>

					<div class="col-xs-4">
						<div><b><u>Email Addresses:</u></b></div>
						<% contact.email_addresses.each do |t|%>
							<div><span><%= t.email_type%>: </span><span><%= t.email_address%></span></div>
						<% end %>
					</div>
				</div>

				<div class="addEmail row moreDetails">
					<%= form_for :email_address, url: contacts_add_email_path do |f| %>
						<div class="col-xs-3"><%= f.text_field :email_address, placeholder: "Email Address", :class => "form-control"%></div>
						<div class="col-xs-3"><%= f.select(:email_type, options_for_select([['Home', 'Home'], ['Work', 'Work'], ['Cell', 'Cell'], ['Other', 'Other'] ], 2), {}, {:class=>"form-control"}) %></div>
						<div><%= f.hidden_field :contact_id, value: contact.id %></div>
						<%= f.submit "Add Email", :class => "btn btn-large btn-primary" %>
					<% end %>
					<button class="btn btn-danger cancelEmailButton">Cancel</button>
				</div>

				<div class="addTelephone row moreDetails">		
					<%= form_for :telephone_number, url: contacts_add_telephone_path do |f| %>
						<div class="col-xs-3"><%= f.text_field :telephone_number, placeholder: "Telephone Number", :class => "form-control"%></div>
						<div class="col-xs-3"><%= f.select(:telephone_type, options_for_select([['Home', 'Home'], ['Work', 'Work'], ['Cell', 'Cell'], ['Other', 'Other'] ], 2), {}, {:class=>"form-control"}) %></div>
						<div><%= f.hidden_field :contact_id, value: contact.id %></div>
						<%= f.submit "Add Telephone", :class => "btn btn-large btn-primary" %>
					<% end %>
					<button class="btn btn-danger cancelTelephoneButton">Cancel</button>
				</div>

				<div class="moreDetails">
					<button class="btn btn-default emailButton">Add Another Email</button>
					<button class="btn btn-default telephoneButton">Add Another Telephone Number</button>
				</div>
				<hr>
			<% end %>
		</div>
	<!-- It was empty display a message saying "There are not contacts" -->
	<% else %>
		<h2>There are no contacts</h2>
	<% end %>
</div>