<title><%= provide(:title, "Create") %></title>
<div class="col-md-6 col-md-offset-3 main fromHeader">
	<h2><center>Create a New Contact</center></h2>
	<%= form_for @contact do |f| %>

		<%= f.text_field :first_name, placeholder: "First Name", :class => "form-control" %>
		<%= f.text_field :last_name, placeholder: "Last Name", :class => "form-control" %>
		<%= f.text_field :address1, placeholder: "Address 1", :class => "form-control" %>
		<%= f.text_field :address2, placeholder: "Address 2", :class => "form-control" %>
		<%= f.text_field :city, placeholder: "City", :class => "form-control" %>
		<%= f.text_field :postal_code, placeholder: "Postal Code", :class => "form-control" %>

		<%= f.fields_for :typ_countries do |country|%>
			<%= country.collection_select :id, TypCountry.order(:country),:id,:country, {prompt: "Please Select Country"}, {:class => "form-control"} %>
   		<% end %>
		<%= f.fields_for :typ_regions do |region| %>
			<%= region.grouped_collection_select :id, TypCountry.order(:country),:typ_region, :country, :id, :name, {prompt: "Please Select Region"}, {:class => "form-control"}%>
    	<% end %>
    	<div class="row">
	    	<%= f.fields_for :email_addresses do |email_form|%>
				<div class="col-xs-6"><%= email_form.text_field :email_address, placeholder: "Email Address", :class => "form-control"%></div>
				<div class="col-xs-6"><%= email_form.select(:email_type, options_for_select([['Home', 'Home'], ['Work', 'Work'], ['Cell', 'Cell'], ['Other', 'Other'] ], 2), {}, {:class=>"form-control"}) %></div>
			<% end %> 
    	</div>
    	
    	<div class="row">
    		<%= f.fields_for :telephone_numbers do |telephone_form|%>
				<div class="col-xs-6"><%= telephone_form.text_field :telephone_number, placeholder: "Telephone number", :class => "form-control"%></div>
				<div class="col-xs-6"><%= telephone_form.select(:telephone_type, options_for_select([['Home', 'Home'], ['Work', 'Work'], ['Cell', 'Cell'], ['Other', 'Other'] ], 2), {},{:class=>"form-control"}) %></div>
			<% end %> 
    	</div>
		
		<%= f.submit "Create Contact", :class => "btn btn-large btn-primary" %>
		<button class="btn btn-default" type="submit"><%= link_to(  "&laquo; Back".html_safe ,root_path)%></button>
	<% end %>

</div>