<title><%= provide(:title, "#{@contact.first_name}'s Details".html_safe) %></title>
<div class="col-md-6 col-md-offset-3 main fromHeader">
	<h2><center><%=  @contact.first_name%>'s Detail</center></h2>
	
	<div class="moreDetails">
		<h4>Basic Information:</h4>
		<div><span>First Name: </span><span><%= @contact.first_name%></span></div>
		<div><span>Last Name: </span><span><%= @contact.last_name %></span></div>
		<div><span>Address 1: </span><span><%= @contact.address1%></span></div>
		<% if !@contact.address2.blank? %>
			<div><span>Address 2: </span><span><%= @contact.address2%></span></div>
		<% end %>
		<div><span>City: </span><span><%= @contact.city%></span></div>
		<div><span>Postal Code: </span><span><%= @contact.postal_code%></span></div>
		<div><span>Region: </span><span><%= @contact.typ_region.name%></span></div>
		<div><span>Country: </span><span><%= @contact.typ_country.country%></span></div>
	</div>

	<div class="moreDetails">
		<h4>Telephone Information:</h4>
		<% @telephone.each do |t|%>
			<span><%= t.telephone_type%>: </span><span><%= t.telephone_number%></span>
		<% end %>
	</div>

	<div class="moreDetails">
		<h4>Email Information:</h4>
		<% @email.each do |t|%>
			<span><%= t.email_type%>: </span><span><%= t.email_address%></span>
		<% end %>
	</div>

	
	<div class="moreDetails">
		<button class="btn btn-default"><%= link_to( "Add Another Email" ,root_path)%></button>
		<button class="btn btn-default"><%= link_to( "Add Another Telephone Number" ,root_path)%></button>
		<button class="btn btn-default"><%= link_to(  "&laquo; Back".html_safe ,root_path)%></button>
	</div>
</div>